@media screen And (max-width:600px){
    


body {
    width: 100%;
    overflow-x: hidden;
}

    
.titre1 {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.titre {
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}
em {
    color: #FFBC42;
    font-style: normal;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.titre2 {
    font-size: 12px;
    font-weight: bold;
    color:black;
}
.contenu1 {
    color:rgb(27, 27, 27);
    font-size: 15px;
    font-style: italic;
}
.btn {
    background-color: #FFBC42;
    border-radius: 5px;
    width: 100px;
    font-size: 12px;
    height: 30px; 
    color: white;
    }
.btn1 {
    display: none;
    background-color: #100D0E;
    border-radius: 5px;
    width: 70px;
    height: 30px; 
    color: white;
}
.params2 {
   display: none;
}

.study {
    width: 100%;
    height: auto;
    background-color: rgb(235, 233, 233);
    display: flex;
    flex-direction: column;
    left: 50px;
    top: 80px;
}
.study1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    /* background-color: white; */
     padding-left: 20px;
    padding-top: 30px; 
}


.about-sec1 {
    display: none;
    width:50%;
    height:100%;
    padding:10px;
    /* background-color:red; */
    
}
.about-sec2 {
    width:100%;
    height:100%;
    padding-top : auto;
    padding-bottom: auto;
    margin-left: 10px;
}
.skils {
    background-color:  white;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.section1 {
    left: 50px;
}
.section2 {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background-color:  white;
     /* margin: 5px;  */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;  */
     /* align-items: center;   */
    justify-content: space-evenly;
    
}
.section3 {
    background-color:  white;
}
.service {
    background-color:  white;
}
.items1 {
    width: 100px;
    height: 100px;
    background-color: rgb(250, 248, 248); 
    margin: 5px;
    border-radius: 50%;
    box-shadow: #FFBC42; 
}
.items {
    margin: 5px;
    width: 300px;
    height: 200px;
    /* background-color: white; */
    /* border-radius: 20px;  */
    /* box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px; */
}
.serv {
    width: auto;
    height: auto;
    position: absolute;
    justify-content: center;  
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #ffbd4269; 
    left: 37%;
    border-radius: 20px;
}
.donwload-cv {
    background-color: #FFBC42;
    border-radius: 5px;
    width: 120px;
    height: 50px; 
    color: white;
    font-weight: lighter;
    }
.nom {
       display: none;
    }
.contact-corps {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 10px;
    
         
}
li {
    color: gray;
    font-size: 12px;
}
.corps {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    top: 5px;
    
}
/* .menu {
    display:none;
}
.respo-menu {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
} */
/* .navigation {
    width: 100%;
    height: 60px;
    background-color: black;
    
    display: flex;
    flex-direction: row;
    opacity: 1;
} */
}
