@media(max-width: 767px)
{
body {
    width: auto;
}
.page {
        display: flex;
        flex-direction: row;
    }
.img {
      margin-top: 100px;  
        /* margin-bottom: 20px; */
        margin-left: 20px;
        width: 200px;
        height: 50px;
       
        border-radius: 10px;
       
    }
    
.titre1 {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.titre {
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}
em {
    color: #FFBC42;
    font-style: normal;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.titre2 {
    font-size: 15px;
    font-weight: bold;
    color:black;
}
.contenu1 {
    color:rgb(27, 27, 27);
    font-size: 15px;
    font-style: italic;
}
.btn {
    background-color: #FFBC42;
    border-radius: 5px;
    width: 70px;
    height: 30px; 
    color: white;
    }
.btn1 {
    display: none;
    background-color: #100D0E;
    border-radius: 5px;
    width: 70px;
    height: 30px; 
    color: white;
}
.params2 {
   display: none;
}



.study1 {
    width: 100%;
    height: 200px;
    background-color:  rgb(235, 234, 234);
    padding-left: 70px;
    padding-top: 70px;
}
.study2 {
    display: none;
    width: 50%;
    height: auto;
    background-color: #292828;
}
.about-sec1 {
    display: none;
    width:50%;
    height:100%;
    padding:10px;
    /* background-color:red; */
    
}
.about-sec2 {
    width:100%;
    height:100%;
    padding-top : auto;
    padding-bottom: auto;
}
.skils {
    background-color:  white;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.section2 {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background-color:  white;
     /* margin: 5px;  */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;  */
     /* align-items: center;   */
    justify-content: space-evenly;
    
}
.section3 {
    background-color:  white;
}
.service {
    background-color:  white;
}
.items1 {
    width: 100px;
    height: 100px;
    background-color: rgb(250, 248, 248);
    margin: 5px;
    border-radius: 50%;
    box-shadow: #FFBC42;
}
.items {
    margin: 5px;
    width: 300px;
    height: 200px;
    background-color: rgb(219, 215, 215);
    border-radius: 20px; 
    box-shadow: rgba(34, 34, 34, 0.35) 0px 5px 15px;
}
.serv {
    width: 100%;
    height: auto;
    position: absolute;
    justify-content: center;  
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* background-color:  #100D0E; */
    left: 30%;
}
.donwload-cv {
    background-color: #FFBC42;
    border-radius: 5px;
    width: 120px;
    height: 50px; 
    color: white;
    font-weight: lighter;
    }
.nom {
       display: none;
    }
    .contact-corps {
        width: 100%;
        height: 100px;
        background-color: white;
        /* margin: 5px; */
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: row; */
        /* align-items: center;  */
        justify-content: space-evenly;
        top: 10px;
    
         
    }
    li {
        color: #f8f5f5;
    }
    .corps {
        width: 50px;
        height: 50px;
        background-color: rgb(235, 233, 233);
        border-radius: 50%;
        top: 5px;
       
    }
}