@media(max-width: 767px)
{
.titre1 {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.titre {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
em {
    color: #FFBC42;
    font-style: normal;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    background-color: #FFBC42;
    border-radius: 5px;
    width: 70px;
    height: 30px; 
    color: white;
    }
.btn1 {
    display: none;
    background-color: #100D0E;
    border-radius: 5px;
    width: 70px;
    height: 30px; 
    color: white;
}
.params2 {
   display: none;
}
.study1 {
    width: 100%;
    height: auto;
    background-color: #292828;
    padding-left: 70px;
    padding-top: 70px;
}
.study2 {
    display: none;
    width: 50%;
    height: auto;
    background-color: #292828;
}
.about-sec1 {
    display: none;
    width:50%;
    height:100%;
    padding:10px;
    /* background-color:red; */
    
}
.about-sec2 {
    width:100%;
    height:100%;
    padding-top : auto;
    padding-bottom: auto;
}
.skils {
    background-color:  #100D0E;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.section2 {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background-color:  #100D0E;
     /* margin: 5px;  */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;  */
     /* align-items: center;   */
    justify-content: space-evenly;
    
}
.items1 {
    width: 100px;
    height: 100px;
    background-color: rgb(24, 23, 23);
    margin: 5px;
    border-radius: 50%;
    box-shadow: #FFBC42;
}
.items {
    margin: 5px;
    width: 300px;
    height: 200px;
    background-color: rgb(24, 23, 23);
    border-radius: 20px;
    box-shadow: #FFBC42; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.serv {
    width: 100%;
    height: auto;
    position: absolute;
    justify-content: center;  
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* background-color:  #100D0E; */
    left: 30%;
}
.donwload-cv {
    background-color: #FFBC42;
    border-radius: 5px;
    width: 120px;
    height: 50px; 
    color: white;
    font-weight: lighter;
    }
} 