body {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    /* position: absolute;
    align-items: center; */
    width: 100%;
    /* height: auto; */
}

.home {
    height: auto;
    background-color: #100D0E;
    padding: 10%;
}
.params1 {
    color: #FFBC42;
}
.titre {
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
}
.titre1 {
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
em {
    color: #FFBC42;
    font-style: normal;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    background-color: #FFBC42;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color: white;
} 
.btn:hover {
    background-color:  white;
    color: #100D0E;
}
.btn1 {
    background-color: #100D0E;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color: white;
}
.btn1:hover {
    background-color:  white;
    color: #100D0E;
}
.about {
    width:100%;
    height:auto;
    background-color: #292828;
    display:flex;
    flex-direction:row;

}
p {
    color:grey;
    font-weight: 20px;
}
.about-sec1 {
    width:50%;
    height:100%;
    padding:10px;
    /* background-color:red; */
    
}
.about-sec2 {
    width:50%;
    height:100%;
    padding-top : 80px;
    
    
    /* background-color:red; */
}
table {
    border: 6px;
}
.titre2 {
    font-size: 20px;
    font-weight: bold;
    color:white;
}
.contenu1 {
    color:rgb(241, 237, 237);
    font-size: 10px;
    font-style: italic;
}
.donwload-cv {
    background-color: #FFBC42;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: white;
    font-weight: bold;
    margin: auto;
}
.donwload-cv:hover {
    background-color:  white;
    color: #100D0E;
}
.skils {
    background-color:  #100D0E;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
   
}
.section1 {
    width: 100%;
    height: auto;
    position: absolute;
    justify-content: center;  
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* background-color:  #100D0E; */
    left: 40%;
    
}
.section2 {
    width: 100%;
    height: auto;
    background-color:  #100D0E;
    /* margin: 5px; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* align-items: center;  */
    justify-content: space-evenly;
    top: 10px;
}
.items1 {
    width: 100px;
    height: 100px;
    background-color: rgb(24, 23, 23);
    margin: 20px;
    border-radius: 50%;
    box-shadow: #FFBC42;
}
.study {
    width: 100%;
    height: auto;
    background-color: #292828;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.study1 {
    width: 50%;
    height: auto;
    background-color: #292828;
}
.study2 {
    width: 50%;
    height: auto;
    background-color: #292828;
}
.params3 {
    color: aliceblue;
    font-weight: 10px;
}
.items {
    margin: 5px;
    width: 200px;
    height: 300px;
    background-color: rgb(24, 23, 23);
    border-radius: 20px;
    box-shadow: #FFBC42; 
}
.items:hover {
    background-color: white;
}
.serv {
    width: 100%;
    height: auto;
    position: absolute;
    justify-content: center;  
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* background-color:  #100D0E; */
    left: 40%;
}
.service {
    background-color: #100D0E;
}